static/css/* linguist-vendored
static/js/* linguist-vendored
static/js/fingeringeditor.js -linguist-vendored
nix/static-haskell.nix linguist-vendored
fingerdb.cabal linguist-generated
musicdata.sql linguist-generated